

* {
    font-family: briller, sans-serif;
    font-weight: 275;
    font-style: thin;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: linear-gradient(#000000 60% , #4d4d4d, #ffffff, #39FF14, #AEFE73, #51eabf, #ffffff, #2a235a, #000000 75%);
    height: 100vh;
    width: 100vw;    
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    width: 100vw;  
  }

/*~~~~~~~~~~~~~~~~~~Text~~~~~~~~~~~~~~~~~~~~ */
  
  h1 {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-stretch: ultra-expanded;
    color: #ffffff;
    margin: 0%;
    padding-top: 2.5%;
    font-size: 175%;
    text-transform: capitalize; 
    filter: drop-shadow(2px 10px 5px #AEFE73);
  }
  
 h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    font-stretch: ultra-expanded;
    color: #AEFE73;
    margin: 0%;
    padding-top: 1.5%;
    font-size: 150%;
    text-transform: capitalize; 
    filter: drop-shadow(2px 10px 5px #ffffff);
  }

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-stretch: ultra-expanded;
    color: #AEFE73;
    font-size: 75%;
    font-style: bold;
    text-transform: capitalize; 
    margin: 0%;
    filter: drop-shadow(2px 10px 5px #ffffff);
  }



  .page-intro{
    align-items: center;
    width: 100%;
    text-align: center;
    font-stretch: ultra-expanded;
    color: white;
    font-size: 85%;
    font-weight: 500;
    padding-top: 1.5%;
    padding-bottom: 30%;
    text-transform: capitalize; 
    filter: drop-shadow(2px 10px 5px #AEFE73);
  }


  .p2 {
    text-align: center;
    font-stretch: ultra-expanded;
    color: #AEFE73;
    font-size: 40%;
    text-transform: capitalize; 
    margin: 0%;
    padding: 1%;
    filter: drop-shadow(2px 10px 5px #ffffff);
  }
 
  .character-name{
    color: #AEFE73;
    font-size: 100%;
    filter: drop-shadow(2px 10px 4px #AEFE73);
  }

  .win-count{
    color: #ffffff;
    font-size: 120%;
    filter: drop-shadow(2px 10px 4px #AEFE73);
  }
  
/*~~~~~~~~~~~~~~~~~~Buttons~~~~~~~~~~~~~~~~~~~~ */


.change-game-btn {
  background-color: black; 
  border: none;
  color: white;
  width: 50%;
  height: 10%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 20%;
  font-size: 12px;
  filter: drop-shadow(1px 2px 1px #AEFE73);
  cursor: pointer;
}
.change-game-btn:hover {
  background-color: #cdfdc0;
  color: black;
  display: inline-block;
  filter: drop-shadow(1px 2px 1px white);
}

.change-game-btn:active {
  background-color: rebeccapurple; 
  border: none;
  color: white;
  display: inline-block;
  filter: drop-shadow(1px 2px 1px black, rebeccapurple);
} 


/*~~~~~~~~~~~~~~~~~~Images~~~~~~~~~~~~~~~~~~~~ */


#computer{
  margin-bottom: 10%;
  height: 40%;
}

#human{
  height: 65%;
}

#humanPlayer{
 height: 60%;
 margin-bottom: 5%;
}

.result-container img {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; 
  height: 50%;
  width:30%
} 

.fight img {
  width: 80%;
  height: 70%;
  margin: 0%;
}


/*~~~~~~~~~~~~~~~~~~Layout~~~~~~~~~~~~~~~~~~~~ */
  .main-container{
    display: flex;
    flex-direction: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
  }

  .center-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 100%;
  }

  #midTop{
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 100%;
  }


  #midBtm{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25%;
    width: 100%;
  }
   

  .left-side,
  .right-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
  }

  .side-boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    width: 100%;
  }
  

  #leftTop,
  #rightTop  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-end !important;
    align-items: center;
    height:50%;
    width: 50%;
  }

 
  #midMid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 60%;
    width: 100%;
    padding-top: 2.5%;
  }

  .game-container{
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: space-evenly;
    background-color: #000000;
    width: 60%;
    height: 40%;
    margin-bottom: 10%;
    padding-top: 10px;
    filter: drop-shadow(2px 10px 5px #AEFE73);
    cursor: pointer;
  }

  .game-container:hover{
    color: black !important;
    background-color: #cdfdc0;
    filter: drop-shadow(2px 10px 5px black);
  }

  .game-container:active{
    color: black !important;
    background-color: white;
    filter: drop-shadow(2px 10px 5px black);
  }

  .game-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 100%;
    height: 30%;
    padding-top: 5px;
  }

  #diffTitle{
    padding-top: 5px;
    padding-bottom: 10px;  
  }

  .game-description{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
 
 

  .fight {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 60%;
    color:#39FF14;
  }



.result-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width:  80%;
    height: 60%;
    padding-top: 50px;
    cursor: pointer;
}

.difficult-image-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  width:  100%;
  height: 100%;
}

/*~~~~~~~~~~~~~~~~~~Hidden Class~~~~~~~~~~~~~~~~~~~~ */

.hidden{
  display: none;
}




















